.advantages-section {
        background: var(--color-brand);
        padding: 16px 0;
    
    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: var(--color-bord-light);
        border-radius: 24px;
        padding: 24px 40px;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            gap: 40px;
            background-color: transparent;
border-radius: 0;
padding: 0;
        }
        }
    
    &__points {
        font-size: 14px;
        font-weight: var(--font-weight-downdown);
       

    @media screen and (min-width: $bp-desktop) {
          color: var(--color-primary-light);
    font-size: 20px;
        }
        }
    }