.chef-section {
        &__title {
            position: relative;
            margin: 0 auto 80px;
            &::before,
                &::after {
                    display: block;
                    width: 320px;
                    border: 2px solid var(--color-bord-light);
                    content: '';
                    position: absolute;
                    bottom: 22px;
                    @media screen and (max-width: $bp-desktop) {
                        border: none;
                    }
                }
            
                &::before {
                    left: 0;
                }
            
                &::after {
                    right: 0;
                }
        }
 
        &__list {
            display: flex;
            gap: 20xp;
            flex-direction: column;
            flex-wrap: wrap;

            @media screen and (min-width: $bp-tablet) {
                    gap: 40px 30px;
                    flex-direction: row;
                }       
        }
    
        &__item {
            @media screen and (max-width: $bp-tablet) {
                flex-basis: calc(100% - 30px / 2);
            }
        }
}
