.footer-section {
    background-image: url(../img/background-footer.png);
    background-color: var(--color-primary-dark);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32px 0;
    position: relative;

    &::after,
     ::before {
         position: absolute;
         background-repeat: no-repeat;
         bottom: 0;
        }
    
        &::before {
            background-image: url('../img/footer-left.png');
            content: '';
            width: 180px;
            height: 120px;
        }
    
       &::after {
            background-image: url('../img/footer-right.png');
            content: '';
            width: 380px;
            height: 190px;
            right: 0;
        }
    
        &__container {
            display: flex;
            gap: 20px;
        }
    
        &__nav {
            flex-basis: 50%;
            display: flex;
            gap: 20px;
        }
    
        &__logo {
            flex-grow: 1;
        }
    
        &__menu {
            flex-grow: 1;
            padding: 0;
            margin: 0;
        }
    
        &__address {
            flex-basis: 50%;
            display: flex;
            gap: 20px;
        }
    
        &__info {
            flex-grow: 1;
        }
    
        &__list {
            flex-grow: 1;
            padding: 0;
            margin: 0;
        }
    
        &__link {
            color: var(--color-primary-light);
            font-size: 16px;
            font-weight: var(--font-weight-downdown);
            text-decoration: none;
            
            &:hover {
                    color: var(--color-brand);
                }
        }
    
        &__social {
            fill: var(--color-primary-light);
        }
    
        &__defender {
            color: var(--color-bord-dark);
            font-size: 14px;
        }
}

